* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  padding-bottom: 1.3rem;
}

nav {
  width: 60%;
  margin: 0 auto;

  li {
    .active-nav {
      color: red;
    }

    display: inline-block;
    padding: 1rem;
    margin-left: 1.2rem;

    a {
      text-decoration: none;
      color: black;
      font-size: 2rem;
    }
  }
}

.app {
  border-top: 3px solid #58be64;

  .wrapper {
    width: 50%;
    margin: 0 auto;
  }
}


.home-page {
  margin-top: 4rem;

  .container {
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    padding: 1.5rem;
  }


  .switch-btn {
    width: 49%;
    padding: 10px;
    border: 1px solid #d6d6d6;
    font-size: 18px;
    font-weight: bold;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background: white;
    transition: 0.9s all;
  }

  .active-btn {
    background: green;
    color: white;
    border-radius: 3px;
    transition: 0.9s all;
  }

}

.question-card {
  margin-top: 1rem;
  border: 2px solid #cfcfcf;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;


  .qs-header {
    font-weight: bold;
    padding: 20px;
    background: rgba(217, 217, 217, 0.25);
    border-bottom: 1px solid #bbbbbb;

  }

  .info {
    padding: 1.2rem 1.5rem 0 1.5rem;
    display: flex;

    .qs-img-wrapper, .info-body {
      padding: 1.5rem 1.5rem 1rem 1.5rem;
    }

    .qs-img-wrapper {
      margin: 2rem;
      outline: 2px solid #CCC;
    }

    .info-body {

      flex-grow: 2;
      box-shadow: -1px 0 0 0 rgba(34, 36, 38, .15);

      .poll-btn {
        display: block;
        width: 90%;
        padding: 8px;
        margin: 1.5rem auto 0 auto;
        background: white;
        font-size: 1.2rem;
        border: 1px solid gray;
        border-radius: 5px;
        outline: none;
        transition: .3s all;

        &:hover {
          background: green;
          color: white;
          cursor: pointer;
          border: 1px solid white;
        }
      }
    }
  }
}

.new-question-page {
  margin-top: 5rem;
  border: 2px solid #cfcfcf;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;


  .card-header {
    font-weight: bold;
    text-align: center;
    padding: 20px;
    background: rgba(217, 217, 217, 0.25);
    border-bottom: 1px solid #bbbbbb;
  }

  .card-body {
    padding: 2rem;

    .new-qs-btn, input {
      width: 95%;
      padding: 10px;
    }

    input {
      border: 1px solid #ccc;
    }

    #or {
      padding-top: 10px;
      width: 95%;
      text-align: center;
      border-bottom: 1px solid #000;
      line-height: 0.1em;
      margin: 10px 0 20px;

      span {
        background: #fff;
        padding: 0 10px;
      }
    }

    .new-qs-btn {
      display: block;
      margin-top: 1rem;
      background: white;
      font-size: 1.2rem;
      border: 1px solid gray;
      border-radius: 5px;
      outline: none;
      transition: .3s all;

      &:hover {
        background: green;
        color: white;
        cursor: pointer;
        border: 1px solid white;
      }
    }
  }

}


.login-page {
  margin-top: 5rem;
  border: 2px solid #cfcfcf;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;


  .card-header {
    font-weight: bold;
    text-align: center;
    padding: 20px;
    background: rgba(217, 217, 217, 0.25);
    border-bottom: 1px solid #bbbbbb;
  }

  .card-body {
    padding: 2rem;

    select {
      width: 95%;
      padding: 10px;
      margin-top: 1rem;

      option {
        font-size: 20px;
        font-weight: bold;
        color: green;
      }
    }

    .login-btn {
      display: block;
      width: 95%;
      padding: 10px;
      margin-top: 3.33rem;
      background: white;
      font-size: 1.2rem;
      border: 1px solid gray;
      border-radius: 5px;
      outline: none;
      transition: .3s all;

      &:hover {
        background: green;
        color: white;
        cursor: pointer;
        border: 1px solid white;
      }
    }
  }

}

.leaderBoard-page {

  .score-card {
    margin-top: 1rem;
    padding-bottom: 1rem;
    border: 2px solid rgba(34, 36, 38, .15);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;


    .info {
      padding: 1.2rem 1.5rem 0 1.5rem;
      display: flex;

      .img-wrapper, .info-body {
        padding: 1.5rem 1.5rem 1rem 1.5rem;
      }

      .img-wrapper {
        margin: 2rem;
        outline: 2px solid #CCC;
      }

      .info-body {
        flex-grow: 2;
        //box-shadow: -1px 0 0 0 rgba(34, 36, 38, .15);
        border-right: 1px solid rgba(34, 36, 38, .15);
        border-left: 1px solid rgba(34, 36, 38, .15);

        p {
          padding: 10px;
        }
      }

      .total-score {
        flex-grow: 1.5;
        border: 1px solid rgba(34, 36, 38, .15);
        margin-left: 10px;

        .header {
          background: #ececec;
          text-align: center;
          border-bottom: 1px solid rgba(34, 36, 38, .15);
          padding: 5px;
        }

        .score-num {
          margin: .6rem auto;
          text-align: center;
          height: 65px;
          width: 65px;
          background-color: #00a400;
          border-radius: 50%;
        }

        p {
          font-size: 2.6rem;
          font-weight: bold;
          color: white;
          padding-top: .5rem;
          text-align: center;

        }

      }
    }
  }
}

