* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html, body {
  padding-bottom: 1.3rem; }

nav {
  display: flex; }
  nav li {
    display: inline-block;
    padding: .80rem;
    margin-left: 1rem; }
    nav li .active-nav {
      color: red;
      font-weight: bold;
      text-decoration: underline; }
      nav li .active-nav:hover {
        color: red; }
    nav li a {
      text-decoration: none;
      color: black;
      font-size: 1.5rem;
      transition: 0.5s color; }
      nav li a:hover {
        color: green; }
  nav .nav-left {
    align-items: flex-start;
    width: 100%; }
  nav .nav-left li {
    margin-top: .55rem; }
  nav .nav-right {
    align-items: flex-end;
    width: 40%; }
    nav .nav-right #nav-avatar {
      display: inline-block;
      vertical-align: top;
      max-width: 45px;
      max-height: 45px;
      border-radius: 50%; }
    nav .nav-right #username {
      display: inline-block;
      margin-left: .55rem;
      margin-top: .9rem; }
      nav .nav-right #username span {
        color: green; }
    nav .nav-right #logout {
      display: inline-block;
      margin-left: 0 !important;
      font-size: 18px;
      color: #a12c0e;
      cursor: pointer;
      transition: 0.6s color; }
      nav .nav-right #logout:hover {
        color: red;
        text-decoration: underline; }

.app {
  border-top: 3px solid #58be64; }
  .app .wrapper {
    width: 50%;
    margin: 0 auto; }

.home-page {
  margin-top: 4rem; }
  .home-page .container {
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    padding: 1.5rem; }
  .home-page .switch-btn {
    width: 49%;
    padding: 10px;
    border: 1px solid #d6d6d6;
    font-size: 18px;
    font-weight: bold;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background: white;
    transition: 0.9s all; }
  .home-page .active-btn {
    background: green;
    color: white;
    border-radius: 3px;
    transition: 0.9s all; }

.question-card {
  margin-top: 1rem;
  border: 2px solid #cfcfcf;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }
  .question-card .qs-header {
    padding: 20px;
    background: rgba(217, 217, 217, 0.25);
    border-bottom: 1px solid #bbbbbb; }
    .question-card .qs-header .username {
      color: green;
      font-weight: bold;
      font-size: 1.22rem; }
    .question-card .qs-header .date {
      float: right;
      font-size: 13px; }
  .question-card .info {
    padding: 0 1.5rem 0 1.5rem;
    display: flex; }
    .question-card .info .qs-img-wrapper, .question-card .info .info-body {
      padding: 1.5rem 1.5rem 1rem 1.5rem; }
    .question-card .info .qs-img-wrapper {
      margin: 2rem;
      max-width: 180px;
      max-height: 180px; }
      .question-card .info .qs-img-wrapper img {
        width: 100%;
        height: 100%;
        border-radius: 6.5px;
        box-shadow: 1px 3px 10px gray; }
    .question-card .info .info-body {
      flex-grow: 2;
      box-shadow: -1px 0 0 0 rgba(34, 36, 38, 0.15); }
      .question-card .info .info-body .poll-btn {
        display: block;
        width: 90%;
        padding: 8px;
        margin: 5rem auto 0 auto;
        background: white;
        font-size: 1.2rem;
        border: 1px solid gray;
        border-radius: 5px;
        outline: none;
        transition: .3s all; }
        .question-card .info .info-body .poll-btn:hover {
          background: green;
          color: white;
          cursor: pointer;
          border: 1px solid white; }
      .question-card .info .info-body .question {
        margin-top: 2.2rem;
        text-align: center;
        color: red; }

.new-question-page {
  margin-top: 5rem;
  border: 2px solid #cfcfcf;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }
  .new-question-page .card-header {
    font-weight: bold;
    text-align: center;
    padding: 20px;
    background: rgba(217, 217, 217, 0.25);
    border-bottom: 1px solid #bbbbbb; }
  .new-question-page .card-body {
    padding: 2rem; }
    .new-question-page .card-body .new-qs-btn, .new-question-page .card-body input {
      width: 95%;
      padding: 10px; }
    .new-question-page .card-body input {
      border: 1px solid #ccc; }
    .new-question-page .card-body #or {
      padding-top: 10px;
      width: 95%;
      text-align: center;
      border-bottom: 1px solid #000;
      line-height: 0.1em;
      margin: 10px 0 20px; }
      .new-question-page .card-body #or span {
        background: #fff;
        padding: 0 10px; }
    .new-question-page .card-body .new-qs-btn {
      display: block;
      margin-top: 1rem;
      background: white;
      font-size: 1.2rem;
      border: 1px solid gray;
      border-radius: 5px;
      outline: none;
      transition: .3s all; }
      .new-question-page .card-body .new-qs-btn:hover {
        background: green;
        color: white;
        cursor: pointer;
        border: 1px solid white; }

.login-page {
  margin-top: 5rem;
  border: 2px solid #cfcfcf;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }
  .login-page .card-header {
    font-weight: bold;
    text-align: center;
    padding: 20px;
    background: rgba(217, 217, 217, 0.25);
    border-bottom: 1px solid #bbbbbb; }
  .login-page .card-body {
    padding: 2rem; }
    .login-page .card-body select {
      width: 95%;
      padding: 10px;
      margin-top: 1rem; }
      .login-page .card-body select option {
        font-size: 20px;
        font-weight: bold;
        color: green; }
    .login-page .card-body .login-btn {
      display: block;
      width: 95%;
      padding: 10px;
      margin-top: 3.33rem;
      background: white;
      font-size: 1.2rem;
      border: 1px solid gray;
      border-radius: 5px;
      outline: none;
      transition: .3s all; }
      .login-page .card-body .login-btn:hover {
        background: green;
        color: white;
        cursor: pointer;
        border: 1px solid white; }

.leaderBoard-page .score-card {
  margin-top: 1rem;
  padding-bottom: 1rem;
  border: 2px solid rgba(34, 36, 38, 0.15);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }
  .leaderBoard-page .score-card .info {
    padding: 1.2rem 1.5rem 0 1.5rem;
    display: flex; }
    .leaderBoard-page .score-card .info .img-wrapper, .leaderBoard-page .score-card .info .info-body {
      padding: 1.5rem 1.5rem 1rem 1.5rem; }
    .leaderBoard-page .score-card .info .img-wrapper {
      margin: 2rem;
      max-width: 220px;
      max-height: 220px;
      min-width: 220px;
      min-height: 220px; }
      .leaderBoard-page .score-card .info .img-wrapper img {
        width: 100%;
        height: 100%;
        border-radius: 6.5px;
        box-shadow: 1px 3px 10px gray; }
    .leaderBoard-page .score-card .info .info-body {
      flex-grow: 2;
      border-right: 1px solid rgba(34, 36, 38, 0.15);
      border-left: 1px solid rgba(34, 36, 38, 0.15); }
      .leaderBoard-page .score-card .info .info-body p {
        padding: 10px; }
    .leaderBoard-page .score-card .info .total-score {
      flex-grow: 1.5;
      border: 1px solid rgba(34, 36, 38, 0.15);
      margin-left: 10px; }
      .leaderBoard-page .score-card .info .total-score .header {
        background: #ececec;
        text-align: center;
        border-bottom: 1px solid rgba(34, 36, 38, 0.15);
        padding: 20px 5px; }
      .leaderBoard-page .score-card .info .total-score .score-num {
        margin: 5rem auto;
        text-align: center;
        height: 65px;
        width: 65px;
        background-color: #00a400;
        border-radius: 50%; }
      .leaderBoard-page .score-card .info .total-score p {
        font-size: 2.6rem;
        font-weight: bold;
        color: white;
        padding-top: .5rem;
        text-align: center; }

/*# sourceMappingURL=App.css.map */
